:global(body) {
  background-color: #333;
  color: #ddd;
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.animated {
  position: absolute;
  left: 0;
  top: 0;
}
